.light {
    --theme: light;
    --white: #fff;
    --black: #303030;
    --gray: #fafafa;
    --primary: #1d93ab;
    --second: #e7f8ff;
    --hover-color: #f3f3f3;
    --bar-color: rgba(0,0,0,.1);
    --theme-color: var(--gray);
    --shadow: 50px 50px 100px 10px rgba(0,0,0,.1);
    --card-shadow: 0px 2px 4px 0px rgba(0,0,0,.05);
    --border-in-light: 1px solid #dedede
}

.dark {
    --theme: dark;
    --white: #1e1e1e;
    --black: #bbb;
    --gray: #151515;
    --primary: #1d93ab;
    --second: #1b262a;
    --hover-color: #323232;
    --bar-color: hsla(0,0%,100%,.1);
    --border-in-light: 1px solid hsla(0,0%,100%,.192);
    --theme-color: var(--gray)
}

.dark div:not(.no-dark)>svg {
    filter: invert(.5)
}

.mask {
    filter: invert(.8)
}

:root {
    --theme: light;
    --white: #fff;
    --black: #303030;
    --gray: #fafafa;
    --primary: #1d93ab;
    --second: #e7f8ff;
    --hover-color: #f3f3f3;
    --bar-color: rgba(0,0,0,.1);
    --theme-color: var(--gray);
    --shadow: 50px 50px 100px 10px rgba(0,0,0,.1);
    --card-shadow: 0px 2px 4px 0px rgba(0,0,0,.05);
    --border-in-light: 1px solid #dedede;
    --window-width: 90vw;
    --window-height: 90vh;
    --sidebar-width: 300px;
    --window-content-width: calc(100% - var(--sidebar-width));
    --message-max-width: 80%;
    --full-height: 100%
}

@media only screen and (max-width: 600px) {
    :root {
        --window-width:100vw;
        --window-height: var(--full-height);
        --sidebar-width: 100vw;
        --window-content-width: var(--window-width);
        --message-max-width: 100%
    }

    .no-mobile {
        display: none
    }
}

@media(prefers-color-scheme: dark) {
    :root {
        --theme:dark;
        --white: #1e1e1e;
        --black: #bbb;
        --gray: #151515;
        --primary: #1d93ab;
        --second: #1b262a;
        --hover-color: #323232;
        --bar-color: hsla(0,0%,100%,.1);
        --border-in-light: 1px solid hsla(0,0%,100%,.192);
        --theme-color: var(--gray)
    }

    :root div:not(.no-dark)>svg {
        filter: invert(.5)
    }
}

body,html {
    height: var(--full-height)
}

body {
    background-color: var(--gray);
    color: var(--black);
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: Noto Sans SC,SF Pro SC,SF Pro Text,SF Pro Icons,PingFang SC,Helvetica Neue,Helvetica,Arial,sans-serif
}

@media only screen and (max-width: 600px) {
    body {
        background-color:var(--second)
    }
}

::-webkit-scrollbar {
    --bar-width: 5px;
    width: var(--bar-width);
    height: var(--bar-width)
}

::-webkit-scrollbar-track {
    background-color: transparent
}

::-webkit-scrollbar-thumb {
    background-color: var(--bar-color);
    border-radius: 20px;
    background-clip: content-box;
    border: 1px solid transparent
}

select {
    border: var(--border-in-light);
    padding: 10px;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--white);
    color: var(--black);
    text-align: center
}

label,select {
    cursor: pointer
}

input {
    text-align: center
}

input[type=checkbox] {
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: var(--border-in-light);
    border-radius: 5px;
    height: 16px;
    width: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center
}

input[type=checkbox]:checked:after {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: var(--primary);
    content: " ";
    border-radius: 2px
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--white);
    color: var(--black)
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    width: 20px;
    background-color: var(--primary);
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    margin-left: 5px;
    border: none
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    height: 8px;
    width: 20px;
    background-color: var(--primary);
    border-radius: 10px;
    cursor: pointer;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    margin-left: 5px;
    border: none
}

input[type=range]::-ms-thumb {
    appearance: none;
    height: 8px;
    width: 20px;
    background-color: var(--primary);
    border-radius: 10px;
    cursor: pointer;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    margin-left: 5px;
    border: none
}

input[type=range]::-webkit-slider-thumb:hover {
    transform: scaleY(1.2);
    width: 24px
}

input[type=range]::-moz-range-thumb:hover {
    transform: scaleY(1.2);
    width: 24px
}

input[type=range]::-ms-thumb:hover {
    transform: scaleY(1.2);
    width: 24px
}

input[type=number],input[type=password],input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 10px;
    border: var(--border-in-light);
    min-height: 36px;
    box-sizing: border-box;
    background: var(--white);
    color: var(--black);
    padding: 0 10px;
    max-width: 50%
}

div.math {
    overflow-x: auto
}

.modal-mask {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    height: var(--full-height);
    width: 100vw;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center
}

.link {
    font-size: 12px;
    color: var(--primary);
    text-decoration: none
}

.link:hover {
    text-decoration: underline
}

pre {
    position: relative
}

pre:hover .copy-code-button {
    pointer-events: all;
    transform: translateX(0);
    opacity: .5
}

pre .copy-code-button {
    position: absolute;
    right: 10px;
    top: 1em;
    cursor: pointer;
    padding: 0 5px;
    background-color: var(--black);
    color: var(--white);
    border: var(--border-in-light);
    border-radius: 10px;
    transform: translateX(10px);
    pointer-events: none;
    opacity: 0;
    transition: all .3s ease
}

pre .copy-code-button:after {
    content: "copy"
}

pre .copy-code-button:hover {
    opacity: 1
}

.clickable {
    cursor: pointer
}

.clickable:hover {
    filter: brightness(.9)
}

.error {
    width: 80%;
    border-radius: 20px;
    border: var(--border-in-light);
    box-shadow: var(--card-shadow);
    padding: 20px;
    background-color: var(--white);
    color: var(--black)
}

.error,.error pre {
    overflow: auto
}

button, input, optgroup, select, textarea{
    font-size: 13.3333px!important;
}